*.secret.*
docker-registry/
minio/
concourse/
git-server/
tmp/

# Ignore packer artifacts
packer/output*
packer/packer_cache

# Ignore tooling replicating concourse task inputs
jq/
minio-client/
pivnet-cli/
