private.key
public.key
*.secret.*
docker-registry/
minio/
concourse/
git-server/
tmp/

# Ignore packer artifacts
packer/output*
packer/packer_cache

# Ignore tooling replicating concourse task inputs
jq/
minio-client/
pivnet-cli/

# Files intended to download via pipelines
.minio.sys
kit/products/
kit/stemcells/
kit/tools/
kit/bosh-standalone/
kit/s3-starter
